<form class="navbar-form pull-right" ng-submit="sendMessage()">
    <div class="row">
        <!--Chat area-->
        <div class="span6 well">
            <p ng-repeat="usrmsg in messages">
                <b>{{usrmsg.username}}</b> :: {{usrmsg.text}}<br>
            </p>
        </div>
        <!--User list-->
        <div class="span4 well">
            <p ng-repeat="usr in users">
                <b>{{usr.username}}</b>
            </p>
        </div>
    </div>
    <div class="row">
        <!--Chat text box-->
        <div class="span8">

            <input type="text" class="span4" ng-model="usrmsg">
            <button type="submit" class="btn">Submit</button>

        </div>

        <div class="span4">

        </div>
    </div>
</form>
